# Ignore all files without an extension (likely executables)
*

# Do not ignore C source files
!*.c

# Do not ignore header files
!*.h

# Do not ignore the .gitignore file itself
!.gitignore

# Do not ignore directories (allow folder traversal)
!*/

# Ignore object files created during compilation
*.o

# Do not ignore readme files
!*.md